@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-sans-serif: "Muoto 205tf", sans-serif;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./assets/fonts/SFProDisplay-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./assets/fonts/SFProDisplay-Semibold.otf") format("opentype");
  font-weight: 600; /* Adjust font-weight value as per your font's specification */
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./assets/fonts/SFProDisplay-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
